
@{
    ViewData["Title"] = "PickUp";
}



<body style="background-image: url(https://img.freepik.com/free-photo/toy-car-with-gift-trunk_23-2147983649.jpg?size=626&ext=jpg&ga=GA1.1.1835929828.1699280570&semt=ais);background-size:contain;">
    <h1>Your Donated Item will be picked up within 7 Days.</h1>
</body>

