@model User;
@{
    ViewData["Title"] = "UserDashboard";
}

<h1>Welcome</h1>

<div class="container text-center">
    <table>
        <tr>
            <td>
                <a href="http://localhost:5044/Donor/DonateMedicine" class=""><img src="https://www.redmanpowerchair.com/wp-content/uploads/2022/08/donate-sign-charity-campaign.webp" style="height:400px ;width:542px ;border-radius:10px" /></a>
            </td>
            <td>
                <a href="http://localhost:5044/Claimer/Claim" class=""><img src="https://feeds.abplive.com/onecms/images/uploaded-images/2023/04/22/e145b72172abdf28925334740bfdafd01682136632630121_original.jpg?impolicy=abp_cdn&imwidth=720" style="height:400px ;width:542px ;border-radius:10px" /><a>
            </td>
        </tr>
    </table>
    </div>
</div>



