<h1>
    About us 
</h1>

<div class="container shadow p-3 mb-5 bg-white rounded">
    <div class="row">
        <div class="col">
            <img id="img1" src="https://media.npr.org/assets/img/2019/05/13/heaps-of-pills-gettyimages-826753434-a8b8c5a4249cb5a198d816571d99e69c9f9096bc-s400-c85.webp" width="550px" height="400px" style="float:left">
        </div>
        <div class="col">
            <pre>
            <h2 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">How We Got Started</h2>
         </pre>
            <p style="color:black " class="text-end">
                In year 2016, our beloved grandfather was detected with cancer. He fought valiantly with support, love and care of family; but his body gave up and the soul moved out of his temporary abode in 2017. We were left over with a lot of medicines and instruments like BP monitor, Bipap machine, Oxygen cylinders, water bed, Glucose monitor and oximeters. We looked around for outlets to donate these and were successful. But it made it realize that there are many others facing the same predicament and we need to do something to help them as well.
            </p>
        </div>

    </div>
</div>