<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="https://care-onboard.com/images/services/medicine-home-delivery-in-dubai-uae.webp"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Boat on Calm Water" />

        <img src="https://img.freepik.com/free-vector/flat-world-organ-donation-day-vertical-poster-template-with-medic-organs_23-2149458809.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Wintry Mountain Landscape" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://carajput.com/art_imgs/all-about-non-governmental-organization.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Mountains in the Clouds" />

        <img src="https://i0.wp.com/ketto.blog/wp-content/uploads/2023/02/How-to-raise-funds-for-NGO-in-India_-Important-tips.png?fit=1024%2C576&ssl=1"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Boat on Calm Water" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://media.istockphoto.com/id/1474770934/photo/delivery-person-delivering-medicine-to-woman.jpg?s=612x612&w=0&k=20&c=EW8s7vTepJnXu1TQlQV-bEG8h0lqLjFVvmDwMhYpUSc="
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Waves at Sea" />

        <img src="https://c8.alamy.com/comp/2BEP793/cardboard-box-full-of-drugs-in-hand-needed-items-for-donation-different-pills-bottles-healthcare-pharmacy-medical-drug-vitamin-antibiotic-donate-charity-thanksgiving-flat-vector-illustration-2BEP793.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="Yosemite National Park" />
    </div>
</div>
