
@{
    ViewData["Title"] = "ShippedOrder";
}


<body style="background-image: url(https://img.freepik.com/free-photo/top-view-truck-boxes_23-2149853130.jpg?size=626&ext=jpg&ga=GA1.1.1880011253.1699401600&semt=ais);background-size:contain;">
    <h1>Your Order will Delivered within 7 days.</h1>
</body>

